/*RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a:not(ul li:last-child a) {
    text-decoration: none;
    color: white;
}
/* **************************************************************************************************************************************
                                                LAYOUT
*****************************************************************************************************************************************/
.fixedwidth {
    width: 65%;
    /*debug*/
    height: 100%;
    /* background-color: aqua; */
}
.flex {
    display: flex;
}
.purple{
    background-color: #9792e4;
}
.white{
    background-color: white;
}




/* **************************************************************************************************************************************
                                                HEADER
*****************************************************************************************************************************************/
header {
    height: 50px;
    width: 100%;
    background-color: #0084fd;
    justify-content: center;
}
.navbar {
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 20px;
}
ul {
    
    gap: 30px;
    margin-right: 30px;
    align-items: center;
    color: white;
}
ul li:last-child {
    background-color: white;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 20px;
    color: black;
}
ul li:last-child a{
    text-decoration: none;
    color: inherit;
}


/* **************************************************************************************************************************************
                                WRAPPER 1 - Card design with a link to the APP-STORE 
*****************************************************************************************************************************************/
.wrapper-appstore {
    height:1000px;
    justify-content: center;
    align-items: center;
}
.wrapper-appstore .fixedwidth {
    height: 800px;
    /*debug*/
    border: 1px solid black;
    
}

/*prima colonna*/
.column:first-child{
    width: calc(100%/3*2);
    height: auto;
    flex-direction: column;
}

/*prima riga*/
.row:first-child {
    height: calc(100%/2);
    width: 100%;
    padding: 10px;
    

}
/*seconda riga*/
.row:last-child {
    height: calc(100%/2);
    width: 100%;
    gap: 15px;
    padding: 10px;
    /*debug*/
   
}
/*proprietò generali delle cards*/
.row .card {
    width: calc(100%/2);
    height: 100%;
    background-color: green;

}
/*grandezza della prima card*/
.row .card:first-child {
    flex-grow: 1;
}

/*seconda colonna*/
.column:last-child {
    width: calc(100%/3);
    height: auto;
    /*debug*/
    padding: 10px;
    flex-direction: column;
    gap:20px;
}

.column:last-child .card {
    width: 100%;
    height: calc(100%/2);
    background-color: green;
}

/* **************************************************************************************************************************************
                                WRAPPER 2 - 2 columns with proprities and advantages and a brief description 
*****************************************************************************************************************************************/
.wrapper-description {
    height:1000px;
    justify-content: center;
    align-items: center;
}
.wrapper-description .container{
    height: 800px;
    padding: 20px;
    /*debug*/
    border: 1px solid black;
    flex-direction: row;
}
.wrapper-description .container .column{
        height: auto;
        width: calc(100%/2);
       /*debug*/
       border: 1px solid black; 
}
/* **************************************************************************************************************************************
                                WRAPPER 3 - A title and a list of  the partners with a brief description 
*****************************************************************************************************************************************/
.wrapper-partners {
    height:800px;
}
/* **************************************************************************************************************************************
                                WRAPPER 4- A title and a cards layout showcasing the different benefits
*****************************************************************************************************************************************/
.wrapper-benefits {
    height:800px;
}
/* **************************************************************************************************************************************
                                WRAPPER 5 - 2 columns with a description of the company and the profile of a rapresentative 
*****************************************************************************************************************************************/
.wrapper-aboutus {
    height:800px;
}
/* **************************************************************************************************************************************
                                WRAPPER 6 - Get Started 
*****************************************************************************************************************************************/
.wrapper-getstarted {
    height:800px;
}